.hero .hero_details {
  flex: 0.8;
}

/* Hero Title */
.hero_details .title {
  font-family: "Oswald", sans-serif;
}
.hero_details .title h1 {
  font-size: 6.5rem;
  color: var(--blue1);
}
.hero_details .title h3 {
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--red1);
}
.hero_details .title h2 {
  font-size: 3.5rem;
  line-height: 0.8;
  color: var(--blue1);
}

/* Hero Detail */
.hero_details .detail p {
  color: var(--blue1);
}

/* Hero Buttons */
.hero_details .hero_buttons {
  margin: 2rem 0;
}
.hero_details .hero_buttons .btn .faShieldVirus,
.hero_details .hero_buttons .btn .faArrowRight {
  margin-left: 1rem;
}
.hero_details .hero_buttons .btn_2 {
  margin: 0 2rem;
}

/* World corona cases */
.hero_details .global_cases {
  color: var(--blue1);
  margin-top: 5rem;
}
.hero_details .global_cases p {
  font-size: 1rem !important;
}
.hero_details .global_cases > p {
  font-weight: 300;
  font-style: italic;
}
.hero_details .global_cases .faGlobeAsia {
  margin-right: 0.6rem;
}
.hero_details .global_cases h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.hero_details .global_cases .cases {
  margin: 1.2rem 0;
}

/* Hero Image */
.hero_img img {
  width: 600px;
}

/* What to do in corona */
.WhatToDo_In_Corona.container {
  margin-top: 0;
  background-color: var(--pure);
}
.WhatToDo_In_Corona .title {
  max-width: 50%;
}
.WhatToDo_In_Corona .title h1 {
  color: var(--blue2);
}
.WhatToDo_In_Corona .title p {
  color: var(--red1);
  font-size: 1.2rem;
}

.WhatToDo_In_Corona .what_to_do {
  padding: 2.5rem;
  margin: 2rem 0;
  border: 2px solid var(--blue2);
  border-radius: 10px;
  background-color: var(--pure);
  box-shadow: 0 0px 8px rgba(42, 129, 234, 0.5);
}

.WhatToDo_In_Corona .what_to_do .steps > p {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.WhatToDo_In_Corona .what_to_do .steps .whatToDo_list {
  list-style: none;
  padding: 0;
}
.WhatToDo_In_Corona .what_to_do .steps .whatToDo_list li {
  padding-left: 1.3em;
  margin: 1rem 0;
  font-size: 1.1rem;
  text-align: justify;
}
.WhatToDo_In_Corona .what_to_do .steps .whatToDo_list li:before {
  content: "\2714";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.5rem;
  color: var(--green1);
}

.WhatToDo_In_Corona .what_to_do .image {
  width: 100%;
  margin-left: 2rem;
}
.WhatToDo_In_Corona .what_to_do .image img {
  width: 100%;
}
