.WhatToDo_In_Corona.container {
  margin-top: 0;
  background-color: var(--pure);
}

.WhatToDo_In_Corona .heading {
  text-align: center;
  margin: 1.5rem 0;
}

.WhatToDo_In_Corona .heading h1 {
  font-size: 2.5rem;
  color: var(--blue2);
  padding: 1rem 0;
}

.WhatToDo_In_Corona .what_to_do {
  padding: 2rem 0;
}

.WhatToDo_In_Corona .what_to_do .image {
  width: 95%;
  margin-right: 4rem;
}
.WhatToDo_In_Corona .what_to_do .image img {
  width: 100%;
}

.WhatToDo_In_Corona .what_to_do .steps > p {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.WhatToDo_In_Corona .what_to_do .steps .tag {
  margin: 1.5rem 0;
}
.WhatToDo_In_Corona .what_to_do .steps .whatToDo_list {
  list-style: none;
  padding: 0;
}
.WhatToDo_In_Corona .what_to_do .steps .whatToDo_list li {
  padding-left: 1.3em;
  margin: 1rem 0;
  font-size: 1.1rem;
  text-align: justify;
}
.WhatToDo_In_Corona .what_to_do .steps .whatToDo_list li:before {
  content: "\2714";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.5rem;
  color: var(--green1);
}
