.prevention .prevention_for_yourself {
  margin: 3rem 0;
}
.prevention .prevention_for_yourself .prevention_setps_for_yourself h1 {
  font-size: 1.6rem;
  color: var(--blue2);
  margin-bottom: 1.2rem;
}
.prevention .prevention_for_yourself .prevention_setps_for_yourself p {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: justify;
}
.prevention .prevention_for_yourself .info_quickLinks {
  margin-left: 4rem;
}

.prevention .center .steps {
  margin: 3rem 0;
}

/* -------------------- Media Query -------------------- */

@media only screen and (max-width: 425px) {
  .prevention .prevention_for_yourself .prevention_setps_for_yourself h1 {
    font-size: 1.4rem;
  }
  .prevention .prevention_for_yourself .prevention_setps_for_yourself p {
    font-size: 1rem;
  }
}
