@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red1: #ff4f5b;
  --red2: #ebdedd;

  --green1: #1ee0ac;
  --purple1: #816bff;

  --blue1: #465675;
  --blue2: #2a81ea;
  --blue3: #dde3eb;
  --blue4: #fafafa;

  --pure: #fff;

  --shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--blue1);
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
}

/* Utility Classes */
.container {
  background-color: var(--blue4);
  width: 100%;
  padding: 4rem 10rem;
  margin-top: 5rem;
}

.flex {
  display: flex;
}
.align_center {
  align-items: center;
}
.justify_between {
  justify-content: space-between;
}

.tag {
  display: inline-block;
  background-color: var(--red2);
  color: var(--red1);
  padding: 0.5rem 1.2rem;
  border-radius: 100px;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0.8rem 1.8rem;
  border-radius: 100px;
  font-size: 1.2rem;
}
.btn_1 {
  background-color: var(--blue2);
  color: var(--pure);
}
.btn_2 {
  background-color: var(--blue3);
  color: var(--blue2);
}

.title h1 {
  font-size: 1.7rem;
  font-weight: 700;
}
.title p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
